<%provide(:title, "Home")%>
<div class="hero-unit">
  <div class="container">
    <h1>Welcome to Integration Demos</h1>
    <p>This site contains working demos and example code for integrating with many cloud-based services</p>
  </div>
</div>
<h2>DocuSign Demos</h2>
<hr>
<div class="row-fluid">
    <div class="span2"><p><a href="/demos/docusign/embedded-signing">Embedded Signing</a></p></div>
    <div class="span6"><p>This demonstrates how to embed the signing of a document within
        your own web application.  A URL for viewing and signing the document is created through calls to the DocuSign API.  This URL is sent as a redirect to the client browser.  Once the signing process is complete, the client browser is redirected back to a URL of your choosing.</p></div>
</div>